<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Kitbash Assets using True Assets</title>
</head>
<body>
<h1>Creating Kitbash (Including KB3D) Assets</h1>
<p>To install Kitbash 3D Assets using True Assets, you first need to go to True Assets and choose the "Create Assets
    From Directory" option. This will allow you to choose the directory where your Kitbash Assets are located. This
    could be a folder with a single collection of assets or a folder containing multiple folders of assets.</p>
<p>This will open a dialogue box where your first task is to locate the folder where your Kitbash Assets are located and
    select the folder containing your blend file and textures.</p>
<p>If you are importing official Kitbash 3D (KB3D) assets, click the button in the dialogue box that says "Kitbash
    Assets". Above that is a button that says "Move Origin to Bottom". Make sure this is ticked. Also, ensure that
    "Join", "Apply Roatation", "Clear Parent", "Change Displacement Type", and "Remove Subsurf Modifiers" are also
    ticked. These options make it easier and more efficient to work with Kitbash 3D assets inside Blender.</p>
<p>Then uncheck "Node Groups", "Worlds", and "Materials", as these will not be needed to use the Kitbash assets.</p>
<p>For Thumbnail Shading, you will get the best results from "Cycles", though if you are worried about performance, you
    could choose "Eevee". However, as these are only 256 x 256 icons you will not notice a lot of difference. For the
    Camera Angle choose "Isometric".</p>
<p>To set up the name for the Catalog System, you can choose to either use the filename of the Blend File or create a
    new name for this catalogue.</p>
<p>Finally, click "Create Assets From Directory" at the bottom of the dialogue box.</p>
<p>Once True Assets Browser has finished processing the file, you will need to click the refresh button, and then you
    should see all of the assets in the asset browser.</p>
<p>For more detailed information, please see the interactive guide located at
    https://docs.true-vfx.xyz/docs/creating-kitbash-assets.</p>
</body>
</html>